<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="navhome">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    </div>
    <div layout:fragment="navright">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Sign Out</a>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="">

        </div>
        <div class="userTable">
            <h1>User List</h1>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col"> Username </th>
                    <th scope="col"> E-mail </th>
                    <th scope="col"> Role </th>
                    <th scope="col"> API Calls </th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${users.empty}"> <!-- th:if="${users.empty}" -->
                        <td colspan="3"> No Users in system </td>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}"><span> UserID </span></td>
                        <td th:text="${user.email}"><span> E-mail </span></td>
                        <td th:text="${user.role}"><span> Role </span></td>
                        <td ><span> placeholder </span></td> <!-- th:text="${user.apicalls??}" -->
                        <!--  -->
                        <td><button> Change API calls </button></td>
                        <td><button> Up/downgrade </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>