<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../css/admin.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="navhome">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
    </div>
    <div layout:fragment="navright">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/user" th:style="${userStyleNav}" th:text="${userNav}"></a>
            <a class="nav-item nav-link" href="/user/admin" th:style="${adminStyleNav}">Admin Page</a>
            <a class="nav-item nav-link" href="/pricing">Pricing</a>
            <a class="nav-item nav-link" href="/register" th:style="${registerStyleNav}">Register</a>
            <a class="nav-item nav-link" th:href="${signInOutLinkNav}" th:text="${signInOutTextNav}" ></a>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="userTable">
            <h1>User List</h1>
            <table class="table table-hover table-bordered table-striped admin-table">
                <thead>
                <tr>
                    <th scope="col"> Username </th>
                    <th scope="col"> E-mail </th>
                    <th scope="col"> Role </th>
                    <th scope="col"> API Calls </th>
                    <th scope="col"> Edit API Calls </th>
                    <th scope="col"> Edit Remaining Trial Days </th>
                    <th scope="col"> Swap User Role </th>
                    <th scope="col"> Reset Calls </th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${users.empty}"> <!-- th:if="${users.empty}" -->
                        <td colspan="3"> No Users in system </td>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.username}"><span> UserID </span></td>
                        <td th:text="${user.email}"><span> E-mail </span></td>
                        <td th:text="${user.role.subString()}"><span> Role </span></td>
                        <td th:text="${user.apiCallCount} + '/' + ${user.apiCallLimit}"><span> API Calls </span></td>
                        <!--  -->
                        <td>
                            <form method="post"  action="#" th:action="@{/user/admin/editRequests(id=${user.userId})}" th:object="${userApi}"> <!-- action="#" th:action="@{}" th:object="${user}" th:object="${}" method="post" -->
                                <input th:field="*{apiCallLimit}" type="text"/> <!--th:field="*{}" -->
                                <input class="admin-button" type="submit" value="Submit"/>
                            </form>
                        </td>
                        <td>
                            <form th:if="${user.role.subString()=='Trial'}" method="post"  action="#" th:action="@{/user/admin/changeTrialPeriod(id=${user.userId})}" th:object="${userApi}"> <!-- changeTrialPeriod -->
                                <input  type="text" th:field="*{startTime}"/>
                                <input class="admin-button" type="submit" th:value="'Change from: ' + ${user.getEndTimeInDays()}"/>
                            </form>
                        </td>
<!--                        <td>-->
<!--                            <form th:if="${user.role.subString()!='Admin'}" method="post"  action="#" th:action="@{/user/admin/editEmail(id=${user.userId})}" th:object="${userApi}"> &lt;!&ndash; action="#" th:action="@{}" th:object="${user}" th:object="${}" method="post" &ndash;&gt;-->
<!--                                <input th:field="*{email}" type="text"/> &lt;!&ndash;th:field="*{}" &ndash;&gt;-->
<!--                                <input class="admin-button" type="submit" value="Change Email"/>-->
<!--                            </form>-->
<!--                        </td>-->
                        <td>
                            <form th:if="${user.role.subString()!='Admin'}" method="post" action="#" th:action="@{/user/admin/changeStatusS(id=${user.userId})}" th:object="${userApi}"> <!-- action="#" th:action="@{}" th:object="${user}" th:object="${}" method="post" -->
                                <select name="Role" th:field="*{role}">
                                    <option value="Trial">Trial</option>
                                    <option value="NonTrial">NonTrial</option>
                                    <option value="Premium">Premium</option>
                                </select>
                                <input class="admin-button" type="submit" value="Set Role"/>
                            </form>
                            <!--th:field="*{}"<button formmethod="post" formaction="#" th:formaction="@{/user/admin/changeStatus(id=${user.userId})}" th:formobject="${userApi}"> Up/downgrade </button>-->
                        </td>
                        <td>
                            <form method="post" action="#" th:action="@{/user/admin/setRequests(id=${user.userId})}" th:object="${userApi}"> <!-- action="#" th:action="@{}" th:object="${user}" th:object="${}" method="post" -->
                                <input class="admin-button" type="submit" value="Reset"/>
                            </form>
                            <!--th:field="*{}"<button formmethod="post" formaction="#" th:formaction="@{/user/admin/changeStatus(id=${user.userId})}" th:formobject="${userApi}"> Up/downgrade </button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>