<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="navhome">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
    </div>
    <div layout:fragment="navright">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/pricing">Pricing</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/login">Sign In</a>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="text-center">
            <form action="#" th:action="@{/register}" th:object="${newUser}" class="form-register" method="POST" >
                <h1 class="h3 mb-3 font-weight-normal">Please enter your desired username and password</h1>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus th:field="*{username}">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required th:field="*{password}">
                <!--<label for="confirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required th:field="*{confirmedPassword}>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit" text="Register"></button>

                <p class="mt-5 mb-3 text-muted">&copy; 2022 SYSC4806</p>
            </form>
        </div>

    </div>
</body>
</html>