<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<script src="http://localhost:35729/livereload.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="navhome">
    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
</div>
<div layout:fragment="navright">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/user" th:style="${userStyleNav}" th:text="${userNav}"></a>
        <a class="nav-item nav-link" href="/user/admin" th:style="${adminStyleNav}">Admin Page</a>
        <a class="nav-item nav-link" href="/pricing">Pricing</a>
        <a class="nav-item nav-link" href="/register" th:style="${registerStyleNav}">Register</a>
        <a class="nav-item nav-link" th:href="${signInOutLinkNav}" th:text="${signInOutTextNav}" ></a>
    </div>
</div>
    <div layout:fragment="content">
        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading" >Welcome</h1> <br>

            <table class="lead text-muted" style="width: 100%">
                <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Username </th>
                    <th scope="col"> Role </th>
                    <th scope="col"> Call Count </th>
                    <th scope="col"> Call Limit </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td  th:text="${user.userId}"><span> ID </span></td>
                    <td  th:text="${user.username}"><span> Username </span></td>
                    <td  th:text="${user.role}"><span> Role </span></td>
                    <td  id="count" th:text="${user.apiCallCount}"><span> Call Count </span></td>
                    <td  id="limit" th:text="${user.apiCallLimit}"><span> Call Limit </span></td>
                </tr>
                </tbody>
            </table>

            <form th:action="@{/user/makeAPICall}" method="post">
                <input class="btn btn-primary btn-lg" type="submit" id="apibutton" value="Call API">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </form>
            <script type="text/javascript">
                window.onload = function() {
                    function createAlert() {
                        var count = document.getElementById("count").innerText;
                        console.log(count);
                        var limit = document.getElementById("limit").innerText;
                        console.log(limit);

                        if (count === limit) {
                            alert("You have reached your limit. No new calls can be made!");
                        }
                    }
                    document.getElementById("apibutton").addEventListener("click", createAlert);
                }
            </script>
        </section>
    </div>
</body>
</html>